<div class="container">
  <div *ngIf="arr.length === 0 && !isWin" class="form" [formGroup]="form">
    <div class="field">
      <label>Введите количество игроков:</label>
      <input type="number" formControlName="countPlayer"/>
    </div>
    <div class="field">
      <label>Введите размер поля:</label>
      <input formControlName="sizeField"/>
    </div>
    <div class="field">
      <label>Введите длину выигрышной последовательности:</label>
      <input formControlName="winLength"/>
    </div>
    <button [disabled]="form.invalid" (click)="play()">Начать</button>
  </div>
  <div *ngIf="arr.length > 0  && !isWin">
    <div class="row" *ngFor="let row of arr; let i = index">
      <div *ngFor="let column of row;let j = index">
        <div class="cell" (click)="selectCell(i, j)"> {{arr[i][j]}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="isWin">Выиграл {{selectedPlayer}} игрок!</div>
</div>
